Source: ayatana-indicator-session
Section: gnome
Priority: optional
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: cmake,
               dbus,
               debhelper (>= 9),
               intltool,
               libglib2.0-dev (>= 2.36),
               libgtest-dev,
               python,
Standards-Version: 3.9.6
Homepage: https://github.com/ArcticaProject/ayatana-indicator-session
Vcs-Git: git://cgit.arctica-project.org/ayatana/ayatana-indicator-session.git
Vcs-Browser: https://cgit.arctica-project.org/ayatana/ayatana-indicator-session.git/

Package: indicator-session
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         systemd,
         gnome-settings-daemon,
         gsettings-desktop-schemas,
Recommends: indicator-applet (>= 0.2) | indicator-renderer,
            gnome-screensaver,
            yelp,
            unity-control-center | gnome-control-center,
            unity-control-center-signon | gnome-control-center-signon
Suggests: lightdm,
          apport,
          zenity
Description: indicator showing session management, status and user switching
 This indicator is designed to be placed on the right side of a panel and
 give the user easy control for changing their instant message status.  
 Switching to another user.  Starting a guest session.  Or controlling the
 status of their own session.
 .
 It requires some way to be hosted into a panel.  For the GNOME Panel the
 appropriate package is indicator-applet-session.
