Source: ayatana-indicator-session
Section: gnome
Priority: optional
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: cmake,
               dbus,
               debhelper (>= 9),
               intltool,
               libglib2.0-dev (>= 2.36),
               libgtest-dev,
               python,
               systemd,
Standards-Version: 3.9.6
Homepage: https://github.com/ArcticaProject/ayatana-indicator-session
Vcs-Git: git://cgit.arctica-project.org/ayatana/ayatana-indicator-session.git
Vcs-Browser: https://cgit.arctica-project.org/ayatana/ayatana-indicator-session.git/

Package: ayatana-indicator-session
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         systemd,
         gnome-settings-daemon | mate-settings-daemon,
         gsettings-desktop-schemas,
         ayatana-indicator-common,
Recommends: indicator-applet (>= 0.2) | mate-indicator-applet | indicator-renderer,
            gnome-screensaver | mate-screensaver,
            yelp,
            unity-control-center | gnome-control-center | mate-control-center,
            unity-control-center-signon | gnome-control-center-signon | mate-control-center,
Suggests: lightdm,
          apport,
          zenity
Description: Ayatana Indicator showing session management, status and user switching
 This Ayatana Indicator is designed to be placed on the right side of a panel and
 give the user easy control for changing their instant message status.  
 Switching to another user.  Starting a guest session.  Or controlling the
 status of their own session.
 .
 It requires some way to be hosted into a panel.  For the GNOME Panel the
 appropriate package is indicator-applet-session. For the MATE Panel the
 appropriate package is mate-indicator-applet.
