Source: indicator-fusa
Section: gnome
Priority: optional
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 5.0),
               cdbs (>= 0.4.41),
               libgtk2.0-dev (>= 2.12.0),
               libdbus-glib-1-dev,
               gnome-doc-utils,
               scrollkeeper,
               libindicator-dev,
               libdbusmenu-glib-dev,
               libdbusmenu-gtk-dev,
               intltool
Standards-Version: 3.8.0

Package: indicator-fusa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, indicator-applet
Description: Applet for the GNOME panel providing various indicators for
 display to users.
